.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f93943;
  font-size: 65px !important;
}

.penButtons {
  display: flex;
  flex-direction: column;
  /* size: ; */
}

#penButton {
  background-color: #052f5f;
  border-color: #052f5f;
}

#penButton:hover {
  background-color: #3b71ca;
}

.outer {
  width: 400px;
  height: 500px;
  background-color: #f93943;
  border-radius: 20px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
}

.sketch-content {
  width: 80%;
  height: 80%;
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 10%;
  border: 2px solid #000;
}

#header {
  text-align: center;
}
