.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f93943;
  height: 6vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer {
  display: block;
  font-size: 2em;
}
